<!DOCTYPE HTML>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
      layout:fragment="content">
    numero client identifie: <span th:utext="${client.numero}" ></span>
	<h3>liste des comptes</h3>
	<table border="1" >
	     <thead>
	        <tr><th>numéro</th><th>label</th><th>solde</th></tr>
	     </thead>
	     <tbody>
			<tr th:each ="cpt : ${comptes}">
			    <td th:utext="${cpt.numero}"></td>
			    <td th:utext="${cpt.label}"></td>
			    <td th:utext="${cpt.solde}"></td>
			 </tr>
		</tbody>
	</table> <br/>
	<span th:utext="${message}" ></span>
	<hr/>
	<a href="to-virement">nouveau virement</a><br/>
	<br/>
</div>   
